.nav{
    border-bottom: 1px solid rgb(135, 133, 133);
    box-shadow: 0 2px rgba(153, 146, 146, 0.3);
    margin-bottom: 10px;
}

.ul{
    display: flex;
    gap: 12px;
    list-style: none;
    border-bottom: 1px;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.active{
    color: orange;
    
}